<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/tenant.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><b>Tenant Management</b></h4>
          <p class="card-text">Using tenenant management admin can perform all the insert, update, delete and search opperations about tenenants.</p>
          <a routerLink="/residance/residance-tenant" class="btn btn-primary">Go to tenant management</a>
        </div>
      </div> &nbsp; &nbsp;
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/users.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><b>User Management</b></h4>
          <p class="card-text">Using user management admin can perform all the insert, update, delete and search opperations about users.</p>
          <a routerLink="/residance/residance-user" class="btn btn-primary">Go to user management</a>
        </div>
      </div>&nbsp; &nbsp;
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/gas-fumes.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><b>Gas Management</b></h4>
          <p class="card-text">Using gas management admin can perform all the insert, update, delete and search opperations about gas bills.</p>
          <a routerLink="/residance/residance-gassbill" class="btn btn-primary">Go to gas bill management</a>
        </div>
      </div>&nbsp; &nbsp;
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/role.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><b>Role Management</b></h4>
          <p class="card-text">Using role management admin can perform all the insert, update, delete and search opperations about role.</p>
          <a routerLink="/residance/residance-role" class="btn btn-primary">Go to role management</a>
        </div>
      </div>&nbsp; &nbsp;
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/unit.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><b>Unit Management</b></h4>
          <p class="card-text">Using unit management admin can perform all the insert, update, delete and search opperations about unit.</p>
          <a routerLink="/residance/residance-unit" class="btn btn-primary">Go to unit management</a>
        </div>
      </div>&nbsp; &nbsp;
    </div>
  </div>
</div>
